assets/specimens/typeface/.DS_Store
typeface/.DS_Store
assets/specimens/.DS_Store
assets/specimens/atityd/.DS_Store
assets/specimens/bevul/.DS_Store
assets/specimens/cara/.DS_Store
assets/specimens/carrraizo/.DS_Store
assets/specimens/didotti/.DS_Store
assets/specimens/domenikos/.DS_Store
assets/specimens/fauxpearl/.DS_Store
assets/specimens/fluidance/.DS_Store
assets/specimens/grumio/.DS_Store
assets/.DS_Store
assets/specimens/materna/.DS_Store
