<<<<<<< HEAD
// Colophon
// -----------------------------------------------------------
=======
/*
 * Colophon
 * ----------------------------------------------------------- */
>>>>>>> fb0fe22... initial commit

.layout--colophon {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 2rem;
<<<<<<< HEAD
	padding: 3rem 4rem;
	background-color: var(--col-bg);
	color: var(--col-text-reverse);
  
	> * { 
	  @include font-size(1.6); 
	}
  
	@media screen and (min-width: 64em) {
	  grid-template-columns: repeat(3, 1fr);
	  
	  p { 
		text-align: center; 
	  }
	}
  }
  
=======
	
	padding: 3rem 4rem;
	background-color: var(--col-bg);
	color: var(--col-text-reverse);
}

.layout--colophon > * { @include font-size(1.6); }

@media screen and ( min-width: 64em ) {
	
	.layout--colophon { grid-template-columns: repeat(3, 1fr); }	
	.layout--colophon p { text-align: center; }
}


>>>>>>> fb0fe22... initial commit
