// Projects
// -----------------------------------------------------------

.layout--projects {
	display: grid;
	grid-template-columns: 1fr;
  
	ul { 
	  @include no-bullets(); 
	}
  
	li { 
	  border-bottom: 1px solid var(--col-border); 
  
	  &:nth-of-type(odd) {
		border-right: 1px solid var(--col-border);
	  }
	}
  }
  
  @media screen and (min-width: 55em) {
	.layout--projects {
	  grid-template-columns: repeat(2, 1fr);
	}
  }  
