/*
 * About page 
 * ----------------------------------------------------------- */
 
<<<<<<< HEAD
 .about {
	max-width: 65ch;
	margin: 2rem auto;
	padding: 2rem;
  
	h2 {
	  margin-top: 2em;
	}
  }
=======
.about {
	max-width: 65ch;
	margin: 2rem auto;
	padding: 2rem;
}

.about h2 { margin-top: 2em; }
>>>>>>> fb0fe22... initial commit
