@font-face {
	font-family: 'Atityd';
	src: url('../specimens/atityd/Ellora-Regular.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Bold.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Ultra.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Italics-Regular-AasawariKulkarni.woff') format('woff');
}

@font-face {
	font-family: 'Ioannem';
	src: url('../specimens/ioannem/ioannem-italic.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-thin.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-extra-light.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-light.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-regular.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-medium.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-semi-bold.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-bold.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-extra-bold.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-black.woff') format('woff');
}

@font-face {
	font-family: 'Nandor';
	src: url('../specimens/nandor/Nandor-Regular.woff') format('woff');
	src: url('../specimens/nandor/Nandor-Italic.woff') format('woff');
	src: url('../specimens/nandor/Nandor-Bold.woff') format('woff');
	src: url('../specimens/nandor/Nandor-BoldItalic.woff') format('woff');
	src: url('../specimens/nandor/Nandor-Black.woff') format('woff');
	src: url('../specimens/nandor/Nandor-BlackItalic.woff') format('woff');
}

@font-face {
	font-family: 'Faux Pearl';
	src: url('../specimens/fauxpearl/FauxPearl-Black.woff') format('woff');
	src: url('../specimens/fauxpearl/FauxPearl-Italic.woff') format('woff');
	src: url('../specimens/fauxpearl/FauxPearl-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Totokin';
	src: url('../specimens/totokin/Totokin-Bold.woff') format('woff');
	src: url('../specimens/totokin/Totokin-BoldItalic.woff') format('woff');
	src: url('../specimens/totokin/Totokin-Italic.woff') format('woff');
	src: url('../specimens/totokin/Totokin-Light.woff') format('woff');
	src: url('../specimens/totokin/Totokin-LightItalic.woff') format('woff');
	src: url('../specimens/totokin/Totokin-Medium.woff') format('woff');
	src: url('../specimens/totokin/Totokin-MediumItalic.woff') format('woff');
	src: url('../specimens/totokin/Totokin-Regular.woff') format('woff');
	src: url('../specimens/totokin/Totokin-SemiBold.woff') format('woff');
	src: url('../specimens/totokin/Totokin-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Atityd';
	src: url('../specimens/atityd/Atityd-Bold.woff') format('woff');
	src: url('../specimens/atityd/Atityd-Medium.woff') format('woff');
	src: url('../specimens/atityd/Atityd-Regular.woff') format('woff');
	src: url('../specimens/atityd/Atityd-RegularItalic.woff') format('woff');
}

@font-face {
	font-family: 'Fluidence';
	src: url('../specimens/fluidence/Fluidence-Black.woff') format('woff');
	src: url('../specimens/fluidence/Fluidence-Bold.woff') format('woff');
	src: url('../specimens/fluidence/Fluidence-Regular.woff') format('woff');
	src: url('../specimens/fluidence/Fluidence-Classic.woff') format('woff');
}

@font-face {
	font-family: 'Mayari';
	src: url('../specimens/mayari/Mayari-Standard.woff') format('woff');
	src: url('../specimens/mayari/Mayari-Squish.woff') format('woff');
	src: url('../specimens/mayari/Mayari-Sass.woff') format('woff');
}

@font-face {
	font-family: 'Tinker Bell';
	src: url('../specimens/tinker-bell/TinkerBell-SansLight.woff') format('woff');
	src: url('../specimens/tinker-bell/TinkerBell-Light.woff') format('woff');
	src: url('../specimens/tinker-bell/TinkerBell-Lightitalic.woff') format('woff');
	src: url('../specimens/tinker-bell/TinkerBell-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Materna Display';
	src: url('../specimens/materna/MaternaDisplay-Bold.woff') format('woff');
	src: url('../specimens/materna/MaternaDisplay-Medium.woff') format('woff');
	src: url('../specimens/materna/MaternaDisplay-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Grant Ave.';
	src: url('../specimens/grant-ave/Grant_Ave_RegularCompressed.woff') format('woff');
	src: url('../specimens/grant-ave/Grant_Ave_RegularExtended.woff') format('woff');
	src: url('../specimens/grant-ave/Grant_Ave_RegularNormal.woff') format('woff');
}

@font-face {
	font-family: 'Spore Print';
	src: url('../specimens/spore-print/SPRhizome2025VF.woff') format('woff');
	src: url('../specimens/spore-print/SPSlime2025VF.woff') format('woff');
	src: url('../specimens/spore-print/SPSpore2025VF.woff') format('woff');
}

@font-face {
	font-family: 'Bevul';
	src: url('../specimens/bevul/Bevul-Bold.woff') format('woff');
	src: url('../specimens/bevul/Bevul-Light.woff') format('woff');
	src: url('../specimens/bevul/Bevul-LightItalic.woff') format('woff');
	src: url('../specimens/bevul/Bevul-Medium.woff') format('woff');
	src: url('../specimens/bevul/Bevul-Regular.woff') format('woff');
	src: url('../specimens/bevul/Bevul-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'Cara';
	src: url('../specimens/cara/Cara-Italic.woff') format('woff');
	src: url('../specimens/cara/Cara-Regular.woff') format('woff');
	src: url('../specimens/cara/CaraBold-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Didotti';
	src: url('../specimens/didotti/Didotti-Italic.woff2') format('woff2');
	src: url('../specimens/didotti/Didotti-Regular.woff2') format('woff2');
	src: url('../specimens/didotti/Didotti-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Moonquill';
	src: url('../specimens/moonquill/Moonquill-Moonquill1.woff') format('woff');
	src: url('../specimens/moonquill/Moonquill-Moonquill2.woff') format('woff');
	src: url('../specimens/moonquill/Moonquill-Moonquill3.woff') format('woff');
}

@font-face {
	font-family: 'Carrraizo';
	src: url('../specimens/carrraizo/Carrraizo-CHUNK.woff') format('woff');
	src: url('../specimens/carrraizo/Carrraizo-SLIM.woff') format('woff');
	src: url('../specimens/carrraizo/Carrraizo-CUT.woff') format('woff');
}

@font-face {
	font-family: 'Chough';
	src: url('../specimens/chough/Chough-Black.woff') format('woff');
	src: url('../specimens/chough/Chough-BlackItalic.woff') format('woff');
	src: url('../specimens/chough/Chough-Bold.woff') format('woff');
	src: url('../specimens/chough/Chough-BoldItalic.woff') format('woff');
	src: url('../specimens/chough/Chough-Italic.woff') format('woff');
	src: url('../specimens/chough/Chough-Light.woff') format('woff');
	src: url('../specimens/chough/Chough-LightItalic.woff') format('woff');
	src: url('../specimens/chough/Chough-Regular.woff') format('woff');
	src: url('../specimens/chough/Chough-Semiblack.woff') format('woff');
	src: url('../specimens/chough/Chough-SemiblackItalic.woff') format('woff');
}

@font-face {
	font-family: 'Primitiv Text';
	src: url('../specimens/primitiv-text/PrimitivText-Backslant.woff') format('woff');
	src: url('../specimens/primitiv-text/PrimitivText-Bold.woff') format('woff');
	src: url('../specimens/primitiv-text/PrimitivText-Medium.woff') format('woff');
	src: url('../specimens/primitiv-text/PrimitivText-Regular.woff') format('woff');
	src: url('../specimens/primitiv-text/PrimitivText-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Doménikos';
	src: url('../specimens/domenikos/Domenikos_Bold.woff') format('woff');
	src: url('../specimens/domenikos/Domenikos_Italic.woff') format('woff');
	src: url('../specimens/domenikos/Domenikos_Regular.woff') format('woff');
}

@font-face {
	font-family: 'Solstice';
	src: url('../specimens/solstice/Solstice_1_30_FINAL-Black.woff') format('woff');
	src: url('../specimens/solstice/Solstice_1_30_FINAL-Bold.woff') format('woff');
	src: url('../specimens/solstice/Solstice_1_30_FINAL-Condensed.woff') format('woff');
	src: url('../specimens/solstice/Solstice_1_30_FINAL-Medium.woff') format('woff');
	src: url('../specimens/solstice/Solstice_1_30_FINAL-Regular.woff') format('woff');
	src: url('../specimens/solstice/Solstice_1_30_FINAL-Super.woff') format('woff');
}

@font-face {
	font-family: 'Linear E';
	src: url('../specimens/linear-e/LinearE-Light.woff') format('woff');
	src: url('../specimens/linear-e/LinearE-LightItalic.woff') format('woff');
	src: url('../specimens/linear-e/LinearE-Semibold.woff') format('woff');
	src: url('../specimens/linear-e/LinearE-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Spaceships';
	src: url('../specimens/spaceships/Spaceships-Typewest-1-Bold.woff') format('woff');
	src: url('../specimens/spaceships/Spaceships-Typewest-1-Regular.woff') format('woff');
	src: url('../specimens/spaceships/Spaceships-italic-TypeWestVF.woff') format('woff');
}

@font-face {
	font-family: 'Skydiver';
	src: url('../specimens/skydiver/Skydiver01.10.25-Black_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-HighContrastBlack_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-HighContrastRegular_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-HighContrastThin_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-MonolinearBlack_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-MonolinearRegular_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-MonolinearThin_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-Regular_otf.woff2') format('woff2');
	src: url('../specimens/skydiver/Skydiver01.10.25-Thin_otf.woff2') format('woff2');
}