@font-face {
	font-family: 'Atityd';
	src: url('../specimens/atityd/Ellora-Regular.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Bold.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Ultra.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Italics-Regular-AasawariKulkarni.woff') format('woff');
}

@font-face {
	font-family: 'Ioannem';
	src: url('../specimens/ioannem/ioannem-italic.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-thin.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-extra-light.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-light.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-regular.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-medium.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-semi-bold.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-bold.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-extra-bold.woff') format('woff');
	src: url('../specimens/ioannem/ioannem-black.woff') format('woff');
}

@font-face {
	font-family: 'Nandor';
	src: url('../specimens/nandor/Nandor-Regular.woff') format('woff');
	src: url('../specimens/nandor/Nandor-Italic.woff') format('woff');
	src: url('../specimens/nandor/Nandor-Bold.woff') format('woff');
	src: url('../specimens/nandor/Nandor-BoldItalic.woff') format('woff');
	src: url('../specimens/nandor/Nandor-Black.woff') format('woff');
	src: url('../specimens/nandor/Nandor-BlackItalic.woff') format('woff');
}