@font-face {
	font-family: 'Ellora';
	src: url('../specimens/atityd/Ellora-Regular.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Bold.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Ultra.woff') format('woff');
	src: url('../specimens/atityd/Ellora-Italics-Regular-AasawariKulkarni.woff') format('woff');
}


