@font-face {
	font-family: 'Duplicate Sans';
	src: url(../fonts/DuplicateSans-Regular-Web.woff) format("woff");
	font-weight: 400;
<<<<<<< HEAD
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Duplicate Sans';
	src: url(../fonts/DuplicateSans-Bold-Web.woff) format("woff");
	font-weight: 700;
	font-style: normal;
  }
  
=======
	font-style:normal;
}

@font-face{
	font-family: 'Duplicate Sans';
	src:url(../fonts/DuplicateSans-Bold-Web.woff) format("woff");
	font-weight:700;
	font-style:normal;
}
>>>>>>> fb0fe22... initial commit
