@font-face {
	font-family: 'Duplicate Sans';
	src: url(../fonts/DuplicateSans-Regular-Web.woff) format("woff");
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Duplicate Sans';
	src: url(../fonts/DuplicateSans-Bold-Web.woff) format("woff");
	font-weight: 700;
	font-style: normal;
  }
  