// ------------------------------------------------------
// Root variables
// ------------------------------------------------------

:root {
	--font-body: 'Duplicate Sans', sans-serif;
  
	--col-text: rgb(55, 65, 81);
	--col-text-reverse: rgb(255, 255, 255);
	--col-text-light: rgb(107, 107, 107);
	
	--col-page: rgb(255, 255, 255);
	--col-bg: rgb(24, 24, 24);
	--col-bg-grey: rgb(245, 245, 245);
	--col-border: rgb(229, 231, 235);
	
	--col-typewest: rgb(254, 9, 6);
  }
  