// Specimen nav 
// -----------------------------------------------------------

.layout--specimen-nav {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border-top: 1px solid var(--col-border);
  
	.nav--specific {
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  height: 9em;
  
	  a {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 2em;
		text-decoration: none;
		color: var(--col-text);
		@include link-effect();
  
		&:hover {
		  color: var(--col-typewest);
		}
  
		div {
		  flex: 1 1 auto;
  
		  p {
			@include font-size(1.6);
  
			span {
			  display: block;
			  font-weight: bold;
			}
		  }
		}
  
		img {
		  width: 0.75em;
		  margin-right: 1em;
		}
	  }
  
	  .prev {
		border-right: 1px solid var(--col-border);
	  }
	}
  
	.nav--random {
	  padding: 1em 0;
  
	  button {
		border-radius: 9999px;
		margin: 0 auto;
		padding: 1em 1.5em;
		@include font-size(1.6);
		font-weight: bold;
	  }
	}
  }
  
  @media screen and (min-width: 64em) {
	.layout--specimen-nav {
	  grid-template-columns: repeat(4, 1fr);
	}
  
	.nav--specific {
	  grid-column: span 2;
	}
  
	.layout--specimen-nav .nav--random {
	  grid-column: 4 / -1;
	}
  }
  